//- layout.pug
doctype html
html
  head
    title Ayush Dance Academy
    block scripts
    block style
  body
       nav#navbar 
        ul 
           div#logo
                img(src="https://rb.gy/yekpxx")
                | ADA
           li #[a(href= "/") Home]
           li #[a(href= "/") About Us]
           li #[a(href= "/contact") Contact Us]
           li #[a(href= "/") Service Us]
           li #[a(href= "/") Class Info]
  block content
  Footer#footer 
       | Copyrights © 2022 AyushDanceAcademy.com | All Rights Reserverd
